body {
    background-color: #902fa3;
}

.headerrow, #messagePane {
    background-color: #b940d2;
  }

  .join_room_response,
  .left_room_response {
    background-color: gainsboro;
  }
  .chat_message {
    font: size 125%;
    margin: 1px 1px 1px 1px;
    color:rgb(14, 18, 105)
  }

  table#game_board{
    border:4px solid black;
    margin:0px;
    padding:0px;
  }

  table#game_board td {
    border: 1px solid black;
    margin:0px;
    padding:0px;
  }